@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather&display=swap');

body {
    margin: 0;
    padding: 0; 
    color: rgb(41, 23, 86); 
    background-size: cover;
    height:100vh; 
}
/*nav bar here*/ 
.navbar-brand {
  font-family: 'Neonderthaw', cursive;
  font-size:xx-large;
}
.list-inline-item {
    font-family: 'Merriweather', serif;
    margin-top:1em; 
    margin-right:0.5em; 
}
/*parallax effect not working; code error cant be found*/ 
.parallax-1 {
  background-image:url('../css/assets/img/fresno.jpg');  
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100vh;
  width:100vw;
  position:relative; 
}
.parallax-2 {
  background-image:url('../css/assets/img/new-year.jpg');  
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100vh;
  width:100vw;
  position:relative; 
}
p {
  margin-left:6em;
  font-family: 'Merriweather', serif;
  text-align:center; 
}
/*footer*/
footer {
  position:relative; 
  margin-bottom:-4.5em;
}
h6 {
  font-family: 'Merriweather', serif;
  font-size:xx-small; 
}
.media-icon {
  margin-top:-2em;
  margin-left:0.4em; 
  padding:0;
}
/*media queries*/
@media only screen 
and (min-width:320px) 
and (max-width:480px) 
and (-webkit-min-device-pixel-ratio:2) {
  }

@media only screen
and (min-width:768px) 
and (max-width:1024px) 
and (-webkit-min-device-pixel-ratio:1) {
  }
@media only screen 
and (min-width:1200px)
and (max-width:1600px) 
and (-webkit-min-device-pixel-ratio:1) {
  }
  