@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    margin: 0;
    padding: 0; 
    color: rgb(41, 23, 86); 
    background-size: cover;
}
/*nav bar here*/ 
.navbar-brand {
  font-family: 'Neonderthaw', cursive;
  font-size:xx-large;
}
.list-inline-item {
    font-family: 'Merriweather', serif;
    margin-top:1em; 
    margin-right:0.5em; 
}
/*website title on top of portfolio thumbnails*/ 
h1 {
  font-family: 'Lobster', cursive;
}
/*footer*/
footer {
    position:relative; 
    margin-bottom:-4.5em;
  }
  h6 {
    font-family: 'Merriweather', serif;
    font-size:xx-small; 
    color:rgb(4, 217, 255); 
  }
  .media-icon {
    margin-top:-2em;
    margin-left:0.4em; 
    padding:0;
  }

/*media queries*/
@media only screen 
and (min-width:280px) 
and (max-width:499px) 
and (-webkit-min-device-pixel-ratio:2) {
    body {
      background-color: rgb(36, 39, 101);
    }
  }
  @media only screen
  and (min-width:500px) 
  and (max-width:768px) 
  and (-webkit-min-device-pixel-ratio:1) {
      body {
        background-color: rgb(49, 20, 78);
      }
    }
@media only screen
and (min-width:769px) 
and (max-width:1024px) 
and (-webkit-min-device-pixel-ratio:1) {
    body {
      background-color: rgb(10, 0, 43);
    }
  }
@media only screen 
and (min-width:1025px)
and (max-width:1600px) 
and (-webkit-min-device-pixel-ratio:1) {
    body {
      background-color: rgb(44, 8, 51);
    }
  }