@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather&display=swap');

body {
    margin: 0;
    padding: 0; 
    color: white; 
    background-size: cover;
}
/*nav bar here*/ 
.navbar {
  background-image:url(./assets/img/hmong-pattern-background.png); 
  background-repeat:no-repeat; 
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
}
.list-inline-item {
    font-family: 'Merriweather', serif;
    margin-top:1em; 
}
/*jumbotron*/
.bg-jumbotron {
    margin-top: -1.5em;
    margin-bottom: 0px;
    max-width: 100%;  
    background-image:url(./assets/img/coffee-laptop.jpg);
    background-repeat:no-repeat;
    background-size:cover; 
    background-position:center;
    height:100vh; 
}
h1 {
  font-family: 'Merriweather', serif;
  color:white;
}
p {
  font-family: 'Merriweather', serif;
  color:white;
}

@media only screen 
and (min-width:320px) 
and (max-width:480px) 
and (-webkit-min-device-pixel-ratio:2) {
    body {
      background-color: lightblue;
    }
  }

@media only screen
and (min-width:768px) 
and (max-width:1024px) 
and (-webkit-min-device-pixel-ratio:1) {
    body {
      background-color: lightgoldenrodyellow;
    }
  }
@media only screen 
and (min-width:1200px)
and (max-width:1600px) 
and (-webkit-min-device-pixel-ratio:1) {
    body {
      background-color: lightgrey;
    }
  }
  